<template>
    <div class="container">
        <h1 class="cover-heading">Latests Messages</h1>
        <div class="card tweet-card">
            <div class="card-body">
                <h5 class="card-title">User said:</h5>
                <h6 class="card-subtitle mb-2 text-muted">on: date</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card tweet-card">
            <div class="card-body">
                <h5 class="card-title">User said:</h5>
                <h6 class="card-subtitle mb-2 text-muted">on: date</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>

</template>

<script>
export default {
    mounted() {
        console.log('Componenete montado')   
    }
};
</script>