<template>
    <div class="container">
        <h1 class="cover-heading">Latests Messages</h1>
        <div class="card tweet-card" v-for="tweet in tweets">
            <div class="card-body">
                <h5 class="card-title">{{tweet.user.name}} said:</h5>
                <h6 class="card-subtitle mb-2 text-muted">on: {{ postedOn(tweet) }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">on: {{ tweet.created_at | ago }}</h6>
                <p class="card-text">{{ tweet.body }}</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment';

export default {
    data() {
        return {
            tweets: []
        }
    },

    filters: {
        ago(date) {
            return moment(date).calendar()
        }
    },

    created() {
        axios.get('/api/tweets').then(response => this.tweets = response.data)   
    },

    methods: {
        postedOn(tweet) {
            return moment(tweet.created_at).fromNow();
        }
    }
};
</script>