<!DOCTYPE html>
<html>
<head>
	<title>Component Communication</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar is-success" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a href="/index.html" class="navbar-brand">
				<figure class="image is-48x48" style="margin: 10px">
					<img class="is-rounded" src="https://avatars2.githubusercontent.com/u/29493917?s=460&v=4" >
				</figure>
				<p class="navbar-item title">Tati Learn's VueJS</p>
			</a>
			<a class="navbar-item" href="/index.html">
				Home Page
			</a>
		</div>
	</nav>
	<div id="root" class="container" style="padding: 50px">
		<div class="field has-text-centered">	
			<label class="label">Please Enter your Coupon:</label>
			<coupon @applied="onCouponApplied"></coupon>
			<p v-if="couponApplied" class="help is-success">Your Coupon is valid</p>
		</div>	
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="communication.js"></script>
</body>
</html>