<!DOCTYPE html>
<html>
<head>
	<title>Computed Properties</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
</head>
<body>
	<nav class="navbar is-success" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a href="/index.html" class="navbar-brand">
				<figure class="image is-48x48" style="margin: 10px">
					<img class="is-rounded" src="https://avatars2.githubusercontent.com/u/29493917?s=460&v=4" >
				</figure>
				<p class="navbar-item title">Tati Learn's VueJS</p>
			</a>
			<a class="navbar-item" href="/index.html">
				Home Page
			</a>
		</div>
	</nav>


	<div class="container">

		<div id="root" style="padding: 50px">
			<button @click="disableMe" :disabled="isDisable">{{ btnText1 }}</button>
			<button @click="toggleMe" :class="{'isDisable' : isDisable}">{{ btnText2 }}</button>

		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<script>

		new Vue({
			el: '#root',
			data:{

				btnText1: "Disable Me",

				isDisable: false
			},

			computed: {

				btnText2() {
					return (this.isDisable) ? "Enable Both" : "Dissable Me"
				}

			},

			methods: {

				disableMe() {
					this.isDisable = true;
					this.btnText1 = 'I am disabeled'
				},

				toggleMe() {
					this.isDisable = !this.isDisable;

				}
			}
		})


	</script>


</body>
</html>