<!DOCTYPE html>
<html>
<head>
	<title>Tati Learns VueJS</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
</head>
<body>
	<nav class="navbar is-success" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a href="/index.html" class="navbar-brand">
				<figure class="image is-48x48" style="margin: 10px">
					<img class="is-rounded" src="https://avatars2.githubusercontent.com/u/29493917?s=460&v=4" >
				</figure>
				<p class="navbar-item title">Tati Learn's VueJS</p>
			</a>
			<a class="navbar-item" href="/index.html">
				Home Page
			</a>
		</div>
	</nav>

	<div id="root" style="padding: 50px">

		<div class="columns is-mobile is-multiline is-centered">

			
			<episode title="Primeros Pasos" link="/lesson1to4.html">
				Episodios 1 al 5. <br> Data Binding, DevTools, Lists & Event Listeners (v-on)
			</episode>
			
			<episode title="Computed Properties" link="/computed.html">
				Introduccion a las propiedades computadas que puede manejar Vue a la hora de renderear la pagina. <br> Uso de Attribute & Class Binding.
			</episode>

			<episode title="CP: Tasks" link="/tasks.html">
				Manejar el estado de la tarea: completa o incompleta utilizando las propiedades computadas, para mostrarlos en un listado u otro.
			</episode>
			
			<episode title="Components" link="/components.html">
				Creacion de componentes personalizados, components dentro de compoents y uso de slots.
			</episode>

			<episode title="Practical Components: MSG" link="/practical-components.html">
				Componentes personalizados con props, data y event listeners.
			</episode>
			
			<episode title="PC: Modal" link="/modal.html">
				Comunicacion entre Vue.compnent e instancia Vue (root), eventos personalizados y su uso mediante $emit ('evento').
			</episode>

			<episode title="PC: Tabs" link="/tabs.html">
				Creacion de Componentes, manejo de contenido por children elements, uso de propiedades (inmutables) a traves de data.
			</episode>

			<episode title="Component Communication" link="/communication.html">
				Comunicacion entre child-parent components.
				<br> $emit() y @listener
			</episode>

			<episode title="CC: Event Dispatcher" link="/event_dispatcher.html">
				No termino de entender para que sirve esto... renombrar $emit y $on <br>
				&macr;\_(&#12484;)_/&macr;
			</episode>

			<episode title="Named Slots" link="/slots.html">
				Implementacion de slots personalizados y por defecto. <br> Ejercicio: Modal.
			</episode>

			<episode title="Inline Templates" link="/inline_templates.html">
				Creacion de componentes que responden a un solo uso & inline-template.
			</episode>

			<episode title="Webpack" link="http://localhost:8080">
				Start webpack <br>
				<div style="background-color: whitesmoke; border-radius: 5px; padding: 10px">
					<small><strong>En terminal:</strong></small>
					<br>
					<code>
						~/webpack$ npm run dev
					</code>
				</div>
				<small>Hot module Replacement: On</small>
			</episode>

			<episode title="Laravel & Vue" link="http://localhost:8000">
				Ajax Request with Axios.<br>
				Start Laravel
				<div style="background-color: whitesmoke; border-radius: 5px; padding: 10px">
					<small><strong>En terminal:</strong></small>
					<br>
					<code>
						~/vue-app$ php artisan serve
					</code>
				</div>
			</episode>

			<episode title="Object-Oriented" link="http://localhost:8000/projects/create">
				Laravel + Vue Form
				<ul>
					<li>Objetos</li>
					<li>Promises</li>
					<li>Error Handeling</li>
				</ul>
			</episode>
			
			<episode title="webpack from Scratch" link="https://laracasts.com/series/learn-vue-2-step-by-step/episodes/22">
				Ver video para optimizar y configurar webpack <br>
				Episodio 22 Laracast VueJS <br><br>
				Mejor usar <a href="https://laracasts.com/series/learn-vue-2-step-by-step/episodes/23" target="_blank">LaravelMix</a>
			</episode>

			<episode title="Custom Inputs" link="/custom_inputs.html">
				Coupon 2.0 <br>
				+ Validation
			</episode>

			<episode title="Single Web App" link="http://localhost:8000">
				<div style="background-color: whitesmoke; border-radius: 5px; padding: 10px">
					<small><strong>En terminal:</strong></small>
					<br>
					<code>	single_web_app$ php artisan serve	</code>
				</div>
			</episode>

			<!-- <episode title="" link=""></episode> -->

		</div>

	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<script>
		Vue.component('episode', {
			props: ['title', 'link'],

			template: `<div class="column is-narrow">
			<div class="card" style="max-width:300px; height: 100%">
			<header class="card-header">
			<p class="card-header-title">
			{{ title }}
			</p>
			<a href="#" class="card-header-icon" aria-label="more options">
			<span class="icon">
			<i class="fas fa-angle-down" aria-hidden="true"></i>
			</span>
			</a>
			</header>
			<div class="card-content" style="min-height: 180px;">
			<div class="content">
			<slot></slot>
			<br>
			</div>
			</div>
			<footer class="card-footer">
			<a :href="link" class="card-footer-item">Ir</a>
			</footer>
			</div>
			</div>
			`
		});


		new Vue({
			el:'#root'
		});	


	</script>
</body>
</html>