<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Primeros Pasos</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
</head>
<body>
  <nav class="navbar is-success" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="/index.html" class="navbar-brand">
        <figure class="image is-48x48" style="margin: 10px">
          <img class="is-rounded" src="https://avatars2.githubusercontent.com/u/29493917?s=460&v=4" >
        </figure>
        <p class="navbar-item title">Tati Learn's VueJS</p>
      </a>
      <a class="navbar-item" href="/index.html">
        Home Page
      </a>
    </div>
  </nav>

  <div class="container" style="padding: 40px">

    <div id="root">
      <ul>
        <li v-for="name in names" v-text="name"></li>
        <input type="text"id="input" v-model="newName">
        <button @click="addName"> Add Member</button>
      </ul>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>

    new Vue({
      el: '#root',
      data:{
        newName: '',
        names: ['Pepe', 'Jose', 'Coco'],

        btnText1: "Disable Me",

        isDisable: false
      },


      methods: {
        addName: function() {
          this.names.push(this.newName);
          this.newName = '';
        },

      }
    })


  </script>

</body>
</html>
