<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Tati Learns Vue Tasks Example</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
</head>
<body>
  <nav class="navbar is-success" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="/index.html" class="navbar-brand">
        <figure class="image is-48x48" style="margin: 10px">
          <img class="is-rounded" src="https://avatars2.githubusercontent.com/u/29493917?s=460&v=4" >
        </figure>
        <p class="navbar-item title">Tati Learn's VueJS</p>
      </a>
      <a class="navbar-item" href="/index.html">
        Home Page
      </a>
    </div>
  </nav>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <div id="root" style="padding: 50px">


    <h1>Todas las tareas</h1>
    <ul>
      <li v-for="task in tasks" v-text="task.description"></li>
    </ul>

    <div class="columns is-centered" style="padding-top: 20px">
      <div class="column">
        <div style="width: 400px">
          <div style="float: left">
            <h3>Tareas incompletas</h3>
            <ul>
              <li v-for="task in incompletedTasks">
                <label>
                  {{ task.description }}
                  <input type="checkbox" v-model="task.completed"> 
                </label>
              </li>
            </ul>
          </div>
        </div>

        <div class="column">
          <div style="float: right">
            <h3>Tareas completas</h3>
            <ul>
              <li v-for="task in completedTasks">
                <label>
                  {{ task.description }}
                  <input type="checkbox" v-model="task.completed"> 
                </label>
              </li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>

  <script>

    new Vue({
      el: '#root',
      data:{
        tasks: [
        {description: 'Tarea 1', completed: true},
        {description: 'Tarea 2', completed: false},
        {description: 'Tarea 3', completed: true},
        {description: 'Tarea 4', completed: true},
        {description: 'Tarea 5', completed: false},
        {description: 'Tarea 6', completed: false},
        {description: 'Tarea 7', completed: true}
        ]
      },

      computed: {
        incompletedTasks() {
          return this.tasks.filter(task => task.completed === false);
        },

        completedTasks() {
          return this.tasks.filter(task => task.completed === true);
        }
      },

      //  Si neceisto usar con un @click tengo que hacerlo mediante un método
      // methods: {
      //   markedCompleted() {
      //     this.task.completed = true;
      //   },

      //   markedIncompleted() {
      //     this.task.completed = false;
      //   }
      // }


    })


  </script>

</body>
</html>
