<template>
  <div id="app">
    <img src="./assets/logo.png">
    <h1>{{ msg }}</h1>
    <h2>Previous VueJS Episodes:</h2>
    <ul>
      <li><a href="http:///tati.learns.vue" target="_blank">Home Page</a></li>
    </ul>
    <h2>Documentation:</h2>
    <ul>
      <li><a href="https://cli.vuejs.org/guide/installation.html" target="_blank">Installation Vue Cli</a></li>
      <li><a href="https://laracasts.com/series/learn-vue-2-step-by-step/episodes/16?autoplay=true" target="_blank">Laracast Webpack Episode</a></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      msg: 'Tati Learns VueJS Webpack hjjh'
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
